.mySwiper {
	padding-bottom: 60px;
}

.mySwiper .swiper-scrollbar {
	height: 5px !important;
	background: #2a2a2a !important;
	border-radius: 12px !important;

	width: calc(100% - 100px) !important;
	left: 50%;
	transform: translateX(-50%);
}

.mySwiper .swiper-scrollbar-drag {
	background: #f0e74d !important;
	border-radius: 12px !important;
	transition: background 0.3s ease;
}
