@import "tailwindcss";
@plugin "@iconify/tailwind4";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-main: var(--font-saira);
	--font-condensed: var(--font-saira-condensed);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
	}
}

::selection {
	background-color: #f0e74d;
	color: #171717;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-main);
}

.custom-dot.swiper-pagination-bullet {
	width: 6.63px;
	height: 6.63px;
	background: #1e1e1e;
	opacity: 1;
}

.custom-dot.swiper-pagination-bullet-active {
	width: 11.82px;
	height: 11.82px;
	background: #f0e74d;
}
